    <div>
      <div class="well" style="overflow:auto">
      	<%= image_tag("facebook_2_1.jpg", :class=>"pull-left" , :style=>"display: inline-block; height:50px")%>

      	<form class="form-inline pull-right">
 			<input type="text" class="input-small" placeholder="Username">
  			<input type="password" class="input-small" placeholder="Password">
  			<button type="submit" class="btn">Sign in</button>
		</form>

      </div>

      <div class="well well-large" style="overflow:auto" >
      	 <%= image_tag("flat-27716_640.png", :class=>"img-polaroid pull-left", :style=>"margin-right:30px; width:100px; display: inline-block;")%>
        <div>
        	My name is poon




        </div>
      </div>

      <div class = "well" style= "overflow:auto">
      		<div class="status pull-left">
      			<form style="margin-left:100px; margin-top:10px">
      				<input type="text" class="input-large" placeholder="What's in your mind?">
      			</form>
      		</div>
      		
      		<div class="response pull-right">

      		</div>
      </div>

      <div class = "well" style= "overflow:auto">
      		<div class="response pull-left">
      			<a class="btn btn-small" href="#"><i class="icon-star"></i>Like</a>
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input class="span2" id="inputIcon" type="text" placeholder="comments">
            </div>
      		</div>
      		
      		<div class="status pull-right">
      			<form style="margin-left:100px; margin-top:10px">
      				<input type="text" placeholder="What's in your mind?">
      			</form>
      		</div>
      </div>

    </div>
