    <div>
      <div class="well well-large" style="overflow:auto" >
      	 <%= image_tag("flat-27716_640.png", :class=>"img-polaroid pull-left", :style=>"margin-right:30px; width:100px; display: inline-block;")%>
        <div>My name is poon</div>
      </div>

    </div>
